div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    color: white;
    font-size: 30px;
}
body{
    background-image: url(https://i.pinimg.com/originals/71/4c/93/714c9373e922654f394fa8fff35fef36.gif);
    background-repeat: repeat-x;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
    background-color: rgb(27, 27, 27);
}

button{
    border: 2px solid whitesmoke;
    background-color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}

button:hover{
    border: 2px solid rgb(68, 67, 67);
    background-color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
}